* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0 auto;
}

li {
  list-style: none;
}

.container {
  text-align: center;
  min-height: 76vh;
  overflow: hidden;
}

.date {
  text-align: right;
  padding: 12px;
  margin: 0 10%;
}

.book-list {
  padding-top: 48px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
}

.bookDetail h4 {
  display: inline-block;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  gap: 10px;
}

h2 {
  margin-bottom: 20px;
}

input {
  padding: 5px 10px;
}

.library {
  margin: 32px 10%;
  background-color: #f9f8f8;
}

.grey-bg {
  background-color: #eee;
}

.btn {
  cursor: pointer;
}

.addButton {
  border-radius: 2px;
  background-color: green;
  color: #fff;
  padding: 10px;
  border: 1px solid green;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.removeButton {
  border-radius: 2px;
  background-color: darkred;
  color: #fff;
  padding: 10px;
  border: 1px solid darkred;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.header {
  background-color: rgb(52, 242, 52);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  margin: 0 10%;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.hidden {
  display: none;
}

.contact {
  width: 50%;
  margin: 0 auto;
}

.contact-content {
  text-align: left;
  margin-top: 64px;
}

.contact-details {
  margin-top: 24px;
}

.contact-details li {
  list-style: disc;
  margin-left: 54px;
  margin-top: 12px;
}

.footer {
  padding: 32px 0;
  width: 100%;
  background-color: black;
  color: #fff;
}

.footer p {
  text-align: center;
}
