* {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  text-align: center;
}

.book {
  display: flex;
  justify-content: space-between;
}

.bookDetail h4 {
  display: inline-block;
}
